# dependencies
/node_modules

# production
/dist
/build

# local .env files
.env
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

# Uploaded files
/uploads

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak

# Runtime data
*.log
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Misc
.DS_Store